:root {
  --copy-small: 1.25rem;
  --copy-large: 1.5rem;

  --list-width: 300px;
  --list-height: 460px;

  --primary-dark: rgb(68, 68, 68);
  --primary-light: rgb(77, 77, 78);

  --radius-large: 16px;
  --radius-medium: 8px;
  --radius-small: 4px;
}

* {
  box-sizing: border-box;
  font-family: "Outfit";
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.board {
  width: 100%;
  min-height: 100%;
  background: rgb(174, 151, 118);
  background: linear-gradient(180deg, rgba(231, 155, 13, 1) 0%, #ae9776 100%);
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

.list-adder__container {
  width: var(--list-width);
  height: var(--list-height);
  border-radius: var(--radius-large);
  border: 5px solid var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-adder__add-btn {
  width: 70px;
  height: 60px;
  border-style: none;
  border-radius: var(--radius-medium);
  border: 2px solid var(--primary-dark);
  background-color: white;
  font-size: var(--copy-large);
  cursor: pointer;
}

.list-adder__add-btn:hover {
  background-color: rgb(236, 234, 234);
}

.list__wrapper {
  width: var(--list-width);
  height: var(--list-height);
  border-radius: var(--radius-large);
  border: 5px solid var(--primary-dark);
  overflow: hidden;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 1s height ease;
  display: flex;
  flex-direction: column;
}

.list__header {
  height: 50px;
  background-color: rgb(120, 207, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.list__header::after {
  width: calc(100% - 40px);
  height: 5px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 40px;
  background-color: var(--primary-dark);
  border-radius: 10px 0 0 10px;
  transform: translateY(5px);
  z-index: 10;
}

.list__title {
  font-size: var(--copy-small);
  position: relative;
  max-width: 200px;
  text-wrap: nowrap;
  overflow: hidden;
}

.list__container {
  width: 100%;
  padding-top: 20px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.904);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  height: 100%;
  max-height: 260px;
  padding-left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 0px;
}

.list__item {
  padding: 10px;
  font-size: var(--copy-small);
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--primary-light);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item-content span {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list__item-content--completed span {
  color: #5c5c5c;
}

.list__item-content--completed h5 {
  color: #5c5c5c;
  font-size: 0.7rem;
  margin: 0;
}

.list__item-content--completed span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 2px solid #000000;
  transition: width 0.3s ease;
  width: 100%;
}

.list__search-input {
  width: 90%;
  height: 30px;
  opacity: 40%;
  font-size: var(--copy-small);
  border-radius: var(--radius-medium);
  border: 2px solid var(--primary-dark);
}

.list__action {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: rgb(120, 207, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  border-top: 5px solid var(--primary-dark);
}

.list__add-btn {
  height: 35px;
  aspect-ratio: 1;
  font-size: var(--copy-large);
  background-color: white;
  border-style: none;
  border-radius: 50%;
  border: 2px solid var(--primary-dark);
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__add-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(239, 239, 239);
}

.list__add-input {
  width: 100%;
  height: 30px;
  border-radius: var(--radius-medium);
  border: 2px solid var(--primary-dark);
  opacity: 50%;
  font-size: var(--copy-small);
}

.list__undo-container {
  height: 20px;
}
.list__undo-btn {
  border-style: none;
  background-color: transparent;
  width: 20px;
  aspect-ratio: 1;
  background-image: url(./assets/undo-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 220px;
}

.item__delete-btn {
  border-style: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

.item__delete-btn:hover {
  background-color: rgb(243, 5, 5);
}

.plus {
  font-size: 28px;
}

.roll {
  height: 60px;
}

.hidden {
  display: none;
}
